{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block tips %}
{% if user.is_authenticated %}
  <h1>Hi {{ user.username }}!</h1>
  <h1>Welcome to ScotlandYard</h1>
{% else %}
  <h1>You are not logged in</h1>
{% endif %}
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
  <br>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
  <p><a href="{% url 'choose' %}">Start game</a></p>
{% else %}
  <br>
  <h2>You should login before play game</h2>
  <a href="{% url 'login' %}">Log In</a>
  <br>
  <h2>You can also sign up</h2>
  <a href="{% url 'signup' %}">sign up</a>
{% endif %}
{% endblock %}
