{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block tips %}
  <h1>Welcome to ScotlandYard</h1>
{% endblock %}

{% block content %}
  <br>
  <form  method="POST" action="/choose/">
        <div id="myform">
            <br><br>Choose number of player:<br><br>
            <select name="number">
                <option value="2">2 players</option>
                <option value="3">3 players</option>
                <option value="4">4 players</option>
                <option value="5">5 players</option>
                <option value="6">6 players</option>
            </select><br>
            <br>Choose role:<br>
            <input type="radio" name="role" value="mrx" checked="checked">Mr.x<br>
            <input type="radio" name="role" value="detective">Detective<br>

            <p><a href="{% url 'board' %}">Start game</a></p>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
<!--            <br><input type="submit" value="Begin Game"><br><br>-->
        </div>
  </form>
{% endblock %}


