{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block tips %}
{% if validlink %}
<h1>Set a new password!</h1>
{% else %}
<p>Request a new password reset.</p>
{% endif %}
{% endblock %}


{% block content %}
{% if validlink %}
<br>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}
<p>The password reset link was invalid, </p>
<p>possibly because it has already been used.</p>
<p>Please request a new password reset.</p>
{% endif %}
{% endblock %}
